---
---

<section class="ml-4">
  <div class="flex justify-center">
    <img
      class="w-[8rem] h-[8rem] mb-8 rounded-full ring-2 ring-offset-2 ring-offset-bg-body ring-camayana-light dark:ring-camayana"
      title="Paweł Lenart"
      src="https://media.licdn.com/dms/image/C4E03AQFIBdVh2oGSMg/profile-displayphoto-shrink_800_800/0/1613385775570?e=1707955200&v=beta&t=OWyx4neBeOyX2iTXvYaeo2plIiKkPOZ3cXvNicliJLI"
    />
  </div>
  <div class="flex flex-col mb-6">
    <h3 class="mb-1 text-lg font-semibold text-center">TL;DR</h3>
    <p class="text-center mb-4 text-base font-normal text-text-muted">
      Developer <i class="fa fa-arrow-right px-1"></i> Architect <i
        class="fa-solid fa-arrow-right px-1"></i> Presales <i
        class="fa-solid fa-arrow-right px-1"></i> Platform Owner
    </p>
  </div>
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    <!-- DT -->
    <li class="mb-10 ms-6">
      <span
        class="absolute flex items-center justify-center w-8 h-8 -start-4 rounded-full"
      >
        <img
          class="rounded-full"
          src="https://media.licdn.com/dms/image/D4E0BAQGMlSbQV2W9wg/company-logo_100_100/0/1689578731703/telekom_logo?e=1710979200&v=beta&t=ANBeLt44Ce_PJBzyJzSWL1QAOPtS_gv1zZJft9axcFc"
        />
      </span>
      <h3
        class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
      >
        Platform Owner for Cloud TV Backend
      </h3>
      <div
        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >
        <span class="text-text-muted font-bold">Deutsche Telekom</span> · Sep 2022
        - now
      </div>
      <p class="text-justify mb-4 text-base font-normal">
        Strategically managing TV platforms totaling 9 figures in TCO over a
        5-year period, I led product management efforts within DT's TV Europe
        team.
      </p>
      <p class="text-justify mb-4 text-base font-normal">
        This encompassed overseeing TV platform development, vendor relationship
        management, and facilitating cross-team communication. I directed the
        maintenance of the product roadmap, provided operational oversight,
        supervised integration tasks, and managed corresponding processes for TV
        backends supporting services across Austria, Croatia, Germany, Hungary,
        Montenegro, North Macedonia, and Poland.
      </p>
    </li>
    <!-- TMPL -->
    <li class="mb-10 ms-6">
      <span
        class="absolute flex items-center justify-center w-8 h-8 bg-slate-200 dark:bg-white rounded-full -start-4"
      >
        <img
          class="rounded-full items-center justify-center"
          src="https://www.t-mobile.pl/c/webfiles/1701986733981/images/logo/logo.png"
        />
      </span>
      <h3
        class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
      >
        TV Solution Architect
      </h3>
      <div
        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >
        <span class="text-text-muted font-bold">T-Mobile Poland</span> · Apr 2021
        - Dec 2022
      </div>
      <p class="text-justify mb-4 text-base font-normal">
        Played a pivotal role in the successful launch of Magenta TV in Poland.
        Took the lead in overseeing integration efforts for the central TV
        platform service, coordinating essential components including content
        acquisition, metadata ingestion, customer provisioning, DRM, and
        playout.
      </p>
    </li>
    <!-- SEAC -->
    <li class="mb-10 ms-6">
      <span class="absolute flex items-center justify-center w-8 h-8 -start-4">
        <img
          class="rounded-full"
          src="https://media.licdn.com/dms/image/C4D0BAQE1llUHBjecTw/company-logo_100_100/0/1648572688484/seachange_international_logo?e=1710979200&v=beta&t=PkLTWG1FNOBTeoxZ9ieT9GJggPqpEm_mgpvVYiHj0hg"
        />
      </span>
      <h3
        class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
      >
        Senior Presales Engineer
      </h3>
      <div
        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >
        <span class="text-text-muted font-bold">SeaChange International</span> ·
        Mar 2019 - Jan 2021
      </div>
      <p class="text-justify mb-4 text-base font-normal">
        Empowering the sales organization through adept pre-sales engagement as
        a Senior Presales Engineer, specializing in end-to-end OTT deployments.
        Skillfully assess requirements and provide technical identification to
        drive comprehensive solutions.
      </p>
      <p class="text-justify mb-4 text-base font-normal">
        Steer the management of OTT implementation and deployment, overseeing
        the entire lifecycle from initial needs analysis to product launch.
        Leverage expertise in SeaChange's platform, a comprehensive digital
        video delivery system encompassing ad serving and analytics. Ensure
        seamless compatibility across diverse client platforms, including web,
        iOS, tvOS, Android Mobile, Android TV, LG, and Samsung.
      </p>
    </li>
    <!-- XS -->
    <li class="mb-10 ms-6">
      <span class="absolute flex items-center justify-center w-8 h-8 -start-4">
        <img
          class="rounded-full"
          src="https://media.licdn.com/dms/image/C4D0BAQG9YNZzPS7Chw/company-logo_100_100/0/1631329491517?e=1710979200&v=beta&t=pS_FjV2b6jItYwYHJAPatNX0WureLQ2MXzzc-2cbs3c"
        />
      </span>
      <h3
        class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
      >
        Presales Engineer / Solutions Architect
      </h3>
      <div
        class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
      >
        <span class="text-text-muted font-bold">Xstream</span> · Feb 2016 - Feb 2019
      </div>
      <p class="text-justify mb-4 text-base font-normal">
        Partnering with clients to design, tailor, implement, and supervise the
        management of their workloads.
      </p>
      <p class="text-justify mb-4 text-base font-normal">
        Directly engaging with customers to understand current states and
        desired outcomes for target platforms, my expertise lies in the thorough
        deployment of end-to-end OTT platforms. This includes specialized
        knowledge in orchestrating ingestion, transcoding, asset management,
        monetization, and playback components, particularly on AWS
        infrastructure or hybrid solutions.
      </p>
    </li>
    <li class="ms-6">
      <span
        class="absolute flex items-center justify-center w-2 h-2 mt-2 bg-blue-100 rounded-full -start-1 dark:bg-blue-900"
      >
      </span>
      <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
        Senior PHP Developer
      </h3>
      <div class="block mb-2 text-sm font-normal leading-none text-text-muted">
        May 2013 - Jan 2016
      </div>
      <p class="text-justify text-base font-normal">
        Crafting and maintaining applications for prominent global video
        streaming enterprises. Leveraging PHP and MySQL, Building robust
        solutions on the Zend Framework and proprietary high-performance
        platforms. My work focused on engineering applications tailored for
        high-demand and high-availability environments, requiring a commitment
        to Agile development principles and rigorous testing processes.
      </p>
    </li>
  </ol>
</section>
