---
import Nav from './Nav.astro';
// import DarkModeToggle from './DarkModeToggle.astro';
import DevModeHeader from './DevModeHeader.astro';
---

<DevModeHeader />
<header class="flex justify-between">
  <Nav />
  <div class="flex flex-inline items-center">
    <div class="py-2 items-center content-center text-text-heading">
      <a
        class="unset animated-link"
        href="https://www.linkedin.com/in/pawellenart/"
        target="_blank"
      >
        <i
          class="fa-brands fa-linkedin"
          aria-hidden="true"
          title="Paweł Lenart on LinkedIn"></i>
      </a>
    </div>
    { /* }<DarkModeToggle />{ */ }
  </div>
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
</style>
