---
---

<section>
  <h1
    class="text-center text-text-heading text-2xl font-semibold leading-8 mb-2"
  >
    I worked with:
  </h1>
  <div class="flex flex-wrap justify-center space-x-6">
    <img
      class="logo-cloud-item"
      src="/images/logo-dt.png"
      alt="Deutsche Telekom"
      title="Deutsche Telekom"
    />
    <img
      class="logo-cloud-item"
      src="/images/logo-tmobile.png"
      alt="T-Mobile Poland"
      title="T-Mobile Poland"
    />
    <img
      class="logo-cloud-item"
      src="/images/logo-cts.png"
      alt="Comcast Technology Solutions"
      title="Comcast Technology Solutions"
    />
    <img
      class="logo-cloud-item"
      src="/images/logo-mediakind.png"
      alt="MediaKind"
      title="MediaKind"
    />
    <img
      class="logo-cloud-item"
      src="/images/logo-broadpeak.png"
      alt="Broadpeak"
      title="Broadpeak"
    />
    <img
      class="logo-cloud-item"
      src="/images/logo-seachange.png"
      alt="SeaChange International"
      title="SeaChange International"
    />
    <img
      class="logo-cloud-item"
      src="/images/logo-vubiquity.png"
      alt="Vubiquity"
      title="Vubiquity"
    />
    <img
      class="logo-cloud-item"
      src="/images/logo-mediadistillery.png"
      alt="Media Distillery"
      title="Media Distillery"
    />
    <img
      class="logo-cloud-item"
      src="/images/logo-mayoclinic.png"
      alt="Mayo Clinic"
      title="Mayo Clinic"
    />
    <img
      class="logo-cloud-item"
      src="/images/logo-screenil.png"
      alt="Screen iL"
      title="Screen iL"
    />
  </div>
</section>
